.angular-google-map-container {
    height: 400px;
    width: 400px;
    margin: 10px auto;
}

.city {
	color: white;
	font-size: 3em;
}

.daily_forecast {
	background-color: white;
	width: 80%;
	margin-left: 10%;
}

.daily_forecast div {
	display: block;
}

.daily_forecast div div p {
	display: inline;
	margin: 12px 10% 20px;

}

.daily_forecast p {
	font-size: 1.6em;
}

.results_section {
	background-color: blue;
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 5%;
	margin-top: 0;
}

.tab {
	height: 80px;
	width: 45%;
	background-color: rgba(12, 25, 38, 0.7);
	display: inline-block;
	margin-bottom: -5px;
	margin-left: 0;
	margin-right: 0;
	border-radius: 20% 20% 0 0;
	color: white;
}

.selected {
	background-color: rgba(12, 25, 38, 1);
}

#tide_section {
	width: auto;
	display: inline-block;
	margin: 10px 8%;
	padding-top: 0;
}